// Base size
$spacing-base-size: 8px;

// Spacing system
$spacing-sizes: (
  xsmall: ($spacing-base-size / 2),
  small: $spacing-base-size,
  regular: ($spacing-base-size * 2),
  medium: ($spacing-base-size * 3),
  large: ($spacing-base-size * 4),
  xlarge: ($spacing-base-size * 8)
);