$lighter-grey: #ebebeb;
$keppel-blue: #3caea3;
$white: #ffffff;
$cod-grey: #1c1c1c;

.gryte-body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.gryte-menu {
  background-color: $lighter-grey;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: none;
  z-index: 999999;
}

.gryte-menu--active {
  display: block;
}

.gryte-menu__close {
  float: right;
}

.gryte-header {
  height: 2.5rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid $lighter-grey;
  position: relative;
}

.gryte-brand {
  float: left;
}

.gryte-brand path {
  fill: #3caea3;
}

.gryte-logo {
  height: 2.5rem;
}

.gryte-nav__open {
  height: 2.5rem;
  background-color: $white;
  border: 1px solid $lighter-grey;
  position: relative;
  float: right;
  width: 3rem;
  cursor: pointer;
}

.gryte-nav__open:hover {
  background-color: $lighter-grey;
}

.gryte-nav__open-lines {
  top: 0.75rem;
  left: 0.5rem;

  &::before {
    top: 6px;
    left: 0;
  }
  &::after {
    top: 12px;
    left: 0;
  }
}

.gryte-nav__open-lines {
  &,
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 2rem;
    height: 3px;
    background: $keppel-blue;
  }
}

.gryte-menu__list {
  list-style: none;
  padding: 0;
  margin: 4rem 2rem;
}
.gryte-menu__list-item {
  display: block;
  margin: 0 0 1rem 0;
}
.gryt-menu__headline {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0;
  display: block;
  margin: 0 0 0.5rem 0;
}

.gryte-menu__sub-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.gryte-menu__sub-list-item {
  margin: 0 1rem 0.5rem 0;
  display: inline-block;
}

.gryte-menu__link:link,
.gryte-menu__link:visited {
  color: $cod-grey;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  border-bottom: 2px solid $cod-grey;
}

.gryte-menu__link:hover,
.gryte-menu__link:focus {
  border-bottom: 2px solid $white;
}

.gryte-menu__close {
  float: right;
  height: 2.5rem;
  background-color: $lighter-grey;
  border: 1px solid $white;
  position: relative;
  float: right;
  width: 3rem;
  cursor: pointer;
  margin: 2rem;

  &:hover {
    background-color: $white;
  }

  &::before,
  &::after {
    height: 2px;
    content: "";
    width: 20px;
    position: absolute;
    top: 50%;
    left: 0.75rem;
    background: $cod-grey;
  }

  &::before {
    transform: rotate(-45deg);
  }
  &::after {
    transform: rotate(45deg);
  }
}

.gryte-colors {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;

  .gryte-color-wrap {
    flex: 0 0 20%;
    margin: 0 0 2rem 0;

    @media print, screen and (min-width: 20em) {
      flex: 0 0 100%;
    }
    @media print, screen and (min-width: 40em) {
      flex: 0 0 50%;
    }
    @media print, screen and (min-width: 64em) {
      flex: 0 0 20%;
    }
  }

  .gryte-color__key {
    display: block;
    font-weight: 600;
    margin: 0;
    line-height: 1.5rem;
  }

  .gryte-color__value {
    display: block;
    line-height: 1.5rem;
    margin: 0;
  }

  .gryte-color {
    height: 5rem;
    display: block;
    margin: 0 0 0.5rem;
  }
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fefefe;
  border: 1px solid #444;
  font-size: 0.875rem;
}
.hljs,
.hljs-subst {
  color: #444;
}
.hljs-comment {
  color: #888888;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}
.hljs-attribute {
  color: #0e9a00;
}
.hljs-function {
  color: #99069a;
}
.hljs-builtin-name {
  color: #99069a;
}
.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #880000;
}
.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold;
}
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #bc6060;
}
.hljs-literal {
  color: #78a960;
}
.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #0c9a9a;
}
.hljs-meta {
  color: #1f7199;
}
.hljs-meta-string {
  color: #4d99bf;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
